<div class="row">
    <div class="col-xs-12">
        <h2>Hello <span class="text-info">{{name}}</span></h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>Your IP address is: <code>{{ipAddress}}</code></h4>
    </div>
</div>
<div class="row text-justify">
    <div class="col-xs-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus porta urna nec imperdiet tincidunt. Praesent aliquet mattis lobortis. Integer sed elementum lectus. Quisque varius porta cursus. Suspendisse nec nisi justo. Morbi justo lorem,
        vestibulum vel placerat vel, fringilla sit amet ipsum. Pellentesque sagittis lorem a sagittis sollicitudin. Nam ut dui at lorem rhoncus lacinia eu id metus.<br/></p>
    </div>
    <div class="col-xs-6">
        <p>Mauris pulvinar aliquam ligula commodo tempor. Phasellus ullamcorper, dolor nec aliquet vestibulum, ipsum lectus tincidunt nisl, in consectetur nibh velit fermentum diam. Integer vel faucibus nisi. Sed sed porta arcu. Sed interdum nisi ac sem
                faucibus malesuada ac dapibus nisi. Fusce laoreet ligula nisl, ac pellentesque orci facilisis eu. Cras semper massa vitae odio bibendum, nec ornare elit consectetur. Quisque felis libero, mattis imperdiet porta vel, malesuada scelerisque
            diam. Fusce dapibus ante sit amet lorem convallis cursus. Nullam egestas quam justo. Vestibulum dictum elementum ipsum, non ornare nisl dictum at.<br/></p>
    </div>
</div>
